<html>
  <body>
    <p>
      Search for a Wizard here:
    </p>
    <form action="/search" method="post">
      <input type="text" name="name_search" placeholder="search for a wizard">
      <button>ADD XOXO</button>
    </form>

  </body>
</html>
