<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <a href="/artists">All Artists</a>
  <a href="/albums">All Albums</a>
  <a href="/songs">All Songs</a>
</body>
</html>
