<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Artists</title>
</head>
<body>
  <p>Artists:</p>
  <ul>
    <% artists.each do |artist| %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %>
      </a>
    </li>
    <% end %>
  </ul>

  <h3> Add a band </h3>
  <form method="POST" action="/artist">
    <input type="text" name="name">
  </form>
</body>
</html>
