<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= artist.name %></title>
</head>
<body>
  <h1><%= artist.name %></h1>
  <p>Albums:</p>
  <ul>
    <% artist.albums.each do |album| %>
    <li>
      <a href="/album/<%= album.id %>">
        <%= album.name %>
      </a>
    </li>
    <% end %>
  </ul>
</body>
</html>
