<html>
  <body>
    <ul>
      <% pets.each do |key, pet| %>
      <li><%= pet[:name] %> is a <%= pet[:type] %>. This pet has an id of <a href="/pet/<%= pet[:id] %>"><%= pet[:id]%></a>.</li>
      <% end %>
    </ul>

    <h3>Add pet here:</h3>
    <form action='/pet' method='post'>
      <input type="text" name="name" placeholder="pet name" required>
      <input type="text" name="type" placeholder="pet type" required>
      <button>ADD XOXO</button>
    </form>
  </body>
</html>
